<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/theme/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Oferta Fone</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/theme/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/theme/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/theme/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/theme/assets/css/demo.css" />
    <link rel="stylesheet" href="~/theme/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/theme/assets/vendor/js/helpers.js"></script>
    <script src="~/theme/assets/js/config.js"></script>
</head>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            @await Html.PartialAsync("_LayoutMenu")
            <div class="layout-page">
                @await Html.PartialAsync("_LayoutNavBar")
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        @RenderBody()
                    </div>
                    @await Html.PartialAsync("_LayoutFooterDashboard")
                    @await Html.PartialAsync("_LayoutLoading")
                    <div class="content-backdrop fade"></div>
                    <div id="alertsModal"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <script src="~/theme/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/theme/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/theme/assets/vendor/js/bootstrap.js"></script>
    <script src="~/theme/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/theme/assets/vendor/js/menu.js"></script>
    <script src="~/theme/assets/js/main.js"></script>
    <script src="~/js/site.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $('form').on('submit', function () {
            new bootstrap.Modal(document.getElementById("modalLoading"), {}).show();
        });

        $('.action-loading').click(function () {
            new bootstrap.Modal(document.getElementById("modalLoading"), {}).show();
        });

        $(document).ready(function () {
            new bootstrap.Modal(document.getElementById("modalLoading"), {}).hide();
        });

        window.onunload = function () {
            new bootstrap.Modal(document.getElementById("modalLoading"), {}).hide();
        };

        $(document).ajaxComplete(function () {
            new bootstrap.Modal(document.getElementById("modalLoading"), {}).hide();
        });

        $(function () {
            var alert = '@TempData["warning"]';
            var error = '@TempData["error"]';
            var sucess = '@TempData["success"]';
            var err = '';
            if (sucess != "" && sucess != null) {
                addSuccess(sucess);
            }
            if (alert != "" && alert != null) {
                addWarning(alert);
            }
            if (error != "" && error != null) {
                addError(error);
            }
        });
    </script>
</body>
</html>
