@model EditProfileViewModel
@{
    Layout = "_LayoutDashboard";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User/</span> Edit Profile</h4>

<!-- Basic Layout -->
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Edit Profile</h5>
            </div>
            <div class="card-body">
                <form asp-controller="Account" asp-action="EditProfile">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-4 col-xs-12 mb-3">
                                <label asp-for="Username" class="control-label">Username</label>
                                <input asp-for="Username" readonly="readonly" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="col-4 col-xs-12 mb-3">
                                <label asp-for="Email" class="control-label">Email</label>
                                <input asp-for="Email" readonly="readonly" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-4 col col-xs-12 mb-3">
                                <label asp-for="PerfilUsuarioId" class="col-md-6 control-label">Perfil Usuário</label>
                                <select id="drpEmpList" class="form-control" disabled asp-for="PerfilUsuarioId" asp-items="@(new SelectList(Model.Perfis, "Value", "Text"))">
                                    <option value="">Select...</option>
                                </select>
                                <input type="hidden" asp-for="PerfilUsuarioId" />
                                <span asp-validation-for="PerfilUsuarioId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 col col-xs-12 mb-3">
                                <label asp-for="TipoPessoas" class="col-md-6 control-label">Tipo Pessoa</label>
                                <select asp-for="TipoPessoas" class="form-control" onchange="OnChangeTipoPessoas()" asp-items="Html.GetEnumSelectList<TipoPessoa>()"></select>
                                <span asp-validation-for="TipoPessoas" class="text-danger"></span>
                            </div>
                            <div class="col-3 col col-xs-12 mb-3">
                                <label asp-for="CpfCnpj" class="control-label">CPF\CNPJ</label>
                                <input asp-for="CpfCnpj" class="form-control" />
                                <span asp-validation-for="CpfCnpj" class="text-danger"></span>
                            </div>
                            <div class="col-7 col col-xs-12 mb-3">
                                <label asp-for="Nome" class="control-label">Nome</label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label asp-for="DataNascimento" class="control-label">Data Nascimento</label>
                                <div class='input-group date'>
                                    <input asp-for="DataNascimento" type="text" class="form-control datepicker" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <span asp-validation-for="DataNascimento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3" style="text-align: right">
                                <input type="submit" value="EditProfile" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function (){
            OnChangeTipoPessoas();
            SetTypeMask();
        });

        function OnChangeTipoPessoas(){
            var tipoPessoas = $('select[Name="@nameof(Model.TipoPessoas)"]').val();
            if (tipoPessoas == '@((int)TipoPessoa.FISICA)'){
                $('input[Name="@nameof(Model.CpfCnpj)"]').mask('000.000.000-00', {placeholder:"000.000.000-00"});
                $('input[Name="@nameof(Model.CpfCnpj)"]').attr("maxlenght", "14")
            }
            else if (tipoPessoas == '@((int)TipoPessoa.JURIDICA)'){
                $('input[Name="@nameof(Model.CpfCnpj)"]').mask('00.000.000/0000-00', {placeholder:"00.000.000/0000-00"});
                $('input[Name="@nameof(Model.CpfCnpj)"]').attr("maxlenght", "18")
            }
        }

        function SetTypeMask() {
            $('input[Name="@nameof(Model.DataNascimento)"]').mask('99/99/9999', {placeholder:"mm/dd/yyyy"});
        };

    </script>
}
