@using OfertaFone.Utils.Extensions;
@model PagedViewModel<OfertaFone.WebUI.ViewModels.Produto.IndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<section>
    <div>
        <div style="background-image: url(images/banners/Template.jpg); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover">
            <div style="text-align: center;">
                <img src="~/images/banners/devstore.png" />
            </div>
        </div>
        <div class="container" style="padding-top: 20px">
            <div class="row">
                @{
                    if (Model.List.Any())
                    {
                        foreach (var produto in Model.List.OrderBy(p => p.Nome))
                        {
                            <div class="col-md-3">
                                <div href="#" class="card card-product-grid">
                                    <a asp-controller="produto" asp-action="details" asp-route-id="@produto.Id" class="img-wrap">
                                        <img src="~/assets/galaxy.png" alt="@produto.Nome">
                                    </a>
                                    <figcaption class="info-wrap">
                                        <a asp-controller="produto" asp-action="details" asp-route-id="@produto.Id" class="title">
                                            <b> @produto.Nome</b>
                                        </a>
                                    </figcaption>
                                    <div class="card-footer price mt-1">
                                        <h3>@this.FormatMoney(produto.Preco)</h3>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-md-12" style="text-align: center">
                            <h2>Oh no! 😮 <br><br> There's no products available. Try searching with another criteria</h2>
                        </div>
                    }
                }
            </div>

            <vc:paging paging-model="@Model"></vc:paging>

        </div>
    </div>
</section>